@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, table, tr, td {
margin: 0;
padding: 0;
font-size: 16px;
vertical-align: baseline;
border: 0;
outline: 0;
background: transparent;
font-family:'Droid Sans', arial, Helvetica, sans-serif;
}

html{height:100%;}
body {color: #4c4c4c;width:100%;min-width:1000px;height:100%;margin:0px;padding:0px;background-color:#efefef;background:url('bg.jpg');}
a {text-decoration:none;color:#32cd32;}
a:hover {text-decoration:underline;}
input{vertical-align:middle;}
input, textarea{font-family:'Droid Sans', arial, Helvetica, sans-serif;font-size:13px;}

.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}

.right{float:right !important;text-align:right;}
.left{float:left;}
.small{font-size:13px;line-height:25px;}
#delaymessage{width:400px;margin-left:-160px;padding:10px;position:fixed;top:0px;left:50%;text-align:center;background:rgba(0,0,0,0.7);color:#fff;border: 1px solid #32cd32;box-shadow: 0 0 3px #007dff;border-radius:3px;display:none;z-index:1000;}
#hotkeytip{font-size:13px;line-height:1.5em;}

/** index.php **/
#main {width:90%;max-width:1160px;margin:0px auto;min-height:100%;float:none;background: rgba(255,255,255,0.6);position: relative;z-index: 1;padding:0px 0px 50px;}

.logo{padding:20px 40px 0px;margin:0px 0px 10px 0px;}
.logo h1 {padding:5px 0px 5px 0px;font-size:30px;line-height:35px;}
.logo h1 a{font-size:30px;}
.logo h1 a:hover {text-decoration:none;}
.logo p {font-style:italic;font-size:13px;}

.wrap{padding:0px 20px;}
#content {width:75%;float:left;margin:40px 0px 20px 0px;padding:0px 20px 0px 20px;}
#info{width:100%;padding-bottom:50px;line-height:32px;}
#parent{float:left;max-width:100%;}
#foldername{float:right;font-style:italic;font-weight:bold;text-decoration:underline;max-width:100%;word-wrap:break-word;word-break:break-all;text-align:right;}
#description{font-size:14px;line-height:1.5em;padding:0px 0px 20px;font-style:italic;}
.view-count{font-weight:bold;padding-bottom:30px;}
#edit{width:100%;text-align:right;padding:0px 0px 20px 0px;}

.container{float:left;}
.thumbnail{margin:3px;width:150px;height:190px;padding:10px 5px 10px 5px;border: 1px solid rgba(255,255,255,0.25);box-shadow: 0 0 3px #555;background-color:#ffffff;}
.thumbnail:hover{border: 1px solid rgba(255,255,255,0.5);box-shadow: 0 0 8px #555;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform:rotate(0deg);-ms-transform: rotate(0deg);z-index:1000!important;}
.thumbtitle{position:absolute;left:0;bottom:0;overflow:hidden;width:150px;height:130px;padding:70px 5px 10px 5px;background:#000;opacity:0;text-align:center;color:#fff;word-wrap:break-word;word-break:break-all;font-size:14px;text-align:center;}
.thumbtitle:hover{opacity:0.6;border: 1px solid rgba(255,255,255,0.25);box-shadow: 0 0 3px #555;}

.album{width:150px;height:150px;float:left;margin:13px 8px;}
.album:hover{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform:rotate(0deg);-ms-transform: rotate(0deg);z-index:1000!important;}
.albumtitle{position:absolute;left:0;bottom:0;overflow:hidden;width:140px;height:19px;padding:5px;background:#000;opacity:0.6;text-align:center;vertical-align:middle;color:#fff;font-size:14px;line-height:1.5em;}
.albumtitle:hover{height:110px;opacity:0.8;width:130px;padding:30px 10px 10px 10px;}

.rotateleft1{-webkit-transform: rotate(-2deg);-moz-transform: rotate(-2deg);-o-transform:rotate(-2deg);-ms-transform: rotate(-2deg);}
.rotateleft2{-webkit-transform: rotate(-3deg);-moz-transform: rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform: rotate(-3deg);}
.rotateleft3{-webkit-transform: rotate(-5deg);-moz-transform: rotate(-5deg);-o-transform:rotate(-5deg);-ms-transform: rotate(-5deg);}
.rotateright1{-webkit-transform: rotate(2deg);-moz-transform: rotate(2deg);-o-transform:rotate(2deg);-ms-transform: rotate(2deg);}
.rotateright2{-webkit-transform: rotate(3deg);-moz-transform: rotate(3deg);-o-transform:rotate(3deg);-ms-transform: rotate(3deg);}
.rotateright3{-webkit-transform: rotate(5deg);-moz-transform: rotate(5deg);-o-transform:rotate(5deg);-ms-transform: rotate(5deg);}

.nav {width:100%;float:left;padding:20px 0px;}

.sidebar {float:right;font-size: 12px;line-height:18px;}
.sidebar a {color:#999;font-size:12px;}
.sidebar a:hover {color:#32cd32;}
#sidebar {width:150px;padding:0px 0px 20px 0px;margin:0px 10px;}
.widget-container {margin:0px 0px 10px 0px;padding:0px 0px 10px 0px;border-bottom:1px dotted #4C4C4C;overflow:hidden;line-height:23px;}
.widget-title {padding:0px 0px 5px 0px;font-size: 12px;font-weight:bold;text-transform:uppercase;}
.content-area {height:750px;}
.albumlist{position:relative;width:150px;height:150px;margin-bottom:10px;}
.albumlist span{font-size:13px;}

#footer {width: 100%;border-width:1px 0px 0px 0px;border-style:dotted;background-color:#ffffff;font-size: 12px;overflow:hidden;position:relative;z-index:999;clear:both;}
#footer a {color:#999;font-size: 12px;}
#footer a:hover {color:#32cd32;}
#footer p {line-height:19px;font-size: 12px;}
#cache-img {display:none;}
#footer-content {width: 90%;margin:auto auto 20px auto;position:relative;text-align:center;padding:20px 10px 0px 10px;}

/** SNS share **/
#sharetop{width:100%;height:30px;padding:0px 0px 30px 0px;}
#sharebottom{width:75%;float:left;padding:20px 20px 30px 20px;}
#shareside div{padding:20px 0px 0px !important;}
#sharetop td,#sharebottom td,#shareimg td{vertical-align:top !important;width:110px !important;}
#sharetop td div,#sharebottom td div,#shareimg td div{vertical-align:text-bottom !important;width:110px !important;}
.twitter-share-button,.fb-like{vertical-align:text-bottom !important;width:110px !important;}

/** image.php **/
#body-img {background:#000;}
#main-img {width:100%;height:100% !important;background: rgba(0,0,0,0.9);z-index: 1;position:relative;}

#content-img {width:60%;height:100%;float:left;padding:0px;position:relative;}
#imgbox{width:100%;height:100%;margin:auto;position:relative;}

#mainimg-img{max-width:95%;max-height:95%;margin:auto;border: 1px solid rgba(255,255,255,0.35);box-shadow: 0 0 10px #fff;}
#fullscreen{position:absolute;right:20px;top:20px;z-index:99999;opacity:0.5;}
#download{position:absolute;left:0px;top:0px;width:100%;height:100%;background:transparent;}
#left{position:absolute;left:0px;top:0px;width:20%;height:100%;background:url(prev.png) no-repeat left center transparent;}
#right{position:absolute;right:0px;top:0px;width:20%;height:100%;background:url(next.png) no-repeat right center transparent;}
#left,#right{opacity:0.3;}
#left:hover,#right:hover,#fullscreen:hover{opacity:1.0;}

.info-img{position:absolute;left:0;bottom:0;overflow:hidden;width:60%;height:31px;padding:20px 0px 10px 0px;background:#0a0a0a;opacity:0.7;text-align:center;vertical-align:middle;color:#fff;border-width:1px 1px 0px 0px;border-style:solid;border-color:rgba(255,255,255,0.25);z-index:999;display:block;}
#info-img:hover{height:100px;opacity:0.9;}
#info-img-nav:hover{height:328px;opacity:0.9;}
#imagename{text-align:center;font-style:italic;font-weight:bold;text-decoration:underline;width:100%;word-wrap:break-word;word-break:break-all;color:#999;line-height:23px;font-size:14px;}
#nav-img{width:100%;margin:0px auto 0px auto;padding:20px 0px;}
#nav-img img{padding:5px;margin:0px 10px;background:#000;border: 1px solid rgba(255,255,255,0.25);box-shadow: 0 0 3px #999;}
#current-img{border: 1px solid rgba(255,255,255,0.45) !important;box-shadow: 0 0 3px #555;}
#nav-img img:hover,#current-img:hover{border: 1px solid rgba(255,255,255,0.75) !important;box-shadow: 0 0 8px #555 !important;}
#shortcut-img{height:23px;padding:0px 20px;}
.prev,#prev{float:left;text-align:left;width:100px;}
.next,#next{float:right;text-align:right;width:100px;}
.prev a,.next a,#prev a,#next a{color:#999;}

#message-img{text-align:center;padding:20px 20px 0px 20px;}
#message-img a{color:#4c4c4c;font-size:12px;}
#message-img p{line-height:16px;font-size:12px;color:#4c4c4c;}

#sidebar-img {width:40%;margin:0px;height:100%;max-height:100%;float:right;position:static;overflow:auto;display:block;}
#sidebar-wrap-img {padding:20px;margin:10px;border:2px solid rgba(0,0,0,0.9);border-radius:5px;box-shadow:0 0 10px #fff;background:#fff;}
#view-count{padding-bottom:10px;font-size:14px;}
#description-img{font-size:14px;line-height:1.5em;padding:0px;font-style:italic;}
#description-img span, #description-img a{font-size:14px;}
.edit-img{width:50px;padding:0px;float:left;}
.edit-img a{color:#32cd32 !important;}
#disqus_thread iframe{min-height:550px !important;}
.dsq-brlink{color:#999;font-size:13px;}

/** Admin **/
#body-admin{min-width:1000px;}
#main-admin {width:90%;max-width:1130px;margin:0px auto;min-height:100%;float:none;background: rgba(255,255,255,0.6);position: relative;z-index: 1;padding:0px 0px 50px;}
#content-admin {width:100%;margin:0px 0px 20px 0px;padding:0px;}
#admin-nav{width:100%;padding:10px 0px;border-width:1px 0px;border-style:solid;margin:30px 0px;text-transform:uppercase;overflow:hidden;}
#admin-nav a{padding:0px 20px;color:#000;}
#logout a{color:#32cd32 !important;}
.site-config{padding:10px;margin:10px 20px;border: 1px solid rgba(255,255,255,0.25);border-radius: 3px;box-shadow: 0 0 3px #555;word-wrap:break-word;word-break:break-all;}
.new{color:red;padding-left:10px;}
.edit-admin{padding-left:20px;font-size:13px;font-style:italic;}
.edit-admin a{color:#999;font-size:13px;}
.extra{border:1px solid #000;padding:10px;margin:5px 0px 5px 0px;display:none;}
label:hover{cursor:pointer;}
.button{color:#000;font-size:13px !important;padding:2px 10px !important;height:21px !important;background:#fdfdfd;background: -webkit-linear-gradient(top, #fdfdfd, #e0e0e0);background: -moz-linear-gradient(top, #fdfdfd, #e0e0e0);background: -ms-linear-gradient(top, #fdfdfd, #e0e0e0);background: -o-linear-gradient(top, #fdfdfd, #e0e0e0);border:1px solid #838383;box-shadow:0px 1px 2px #c6c6c6;border-radius:3px;text-align:center;}
.button:hover{background:#a3dcfc;cursor:pointer;background: -webkit-linear-gradient(top, #a3dcfc, #56a5f8);background: -moz-linear-gradient(top, #a3dcfc, #56a5f8);background: -ms-linear-gradient(top, #a3dcfc, #56a5f8);background: -o-linear-gradient(top, #a3dcfc, #56a5f8);}
.button a{color:#000;text-decoration:none;font-size:13px;}
p.button {line-height:15px !important;font-size:13px;height:15px !important;}
.button-right{margin-left:20px;}
.checkbox{appearance:none;-moz-appearance:none;-webkit-appearance:none;color:#32cd32;background:#fff;font-size:10px;border:1px solid #838383;box-shadow:0px 1px 2px #c6c6c6;border-radius:2px;width:15px !important;height:15px;margin-right:8px;}
.checkbox:hover{cursor:pointer;}
.radio{appearance:none;-moz-appearance:none;-webkit-appearance:none;color:#32cd32;background:#fff;border:1px solid #838383;box-shadow:0px 1px 2px #c6c6c6;border-radius:1px;width:15px !important;height:15px;margin-bottom:5px;margin-right:8px;}
.radio{cursor:pointer;}
.dropdown{height:19px;line-height:19px;overflow:hidden;border:1px solid #838383;box-shadow:0px 1px 2px #c6c6c6;border-radius:3px;background:url(downarrow.png) no-repeat right center #fff;background-position:right 1px center;}
.dropdown select{height:19px;line-height:19px;appearance:none;-moz-appearance:none;-webkit-appearance:none;font-size:13px;border:none;background:transparent;}
.dropdown select:hover{cursor:pointer;}

/** Dashboard **/
#recent-list{width:100%;height:170px;position:relative;}
#recent-list div{float:left;width:22%;}
#recent-list span {position:absolute;margin-top:146px;}

/** Albums management **/
.admin-folder-nav{padding:10px 20px;word-wrap:break-word;word-break:break-all;}
.multiform{margin-right:10px;}
span.multiform{line-height:1.5em;font-size:16px;vertical-align:text-bottom;}
.drop-access{width:120px;}
.drop-access select{width:140px;}
.drop-move{width:300px;}
.drop-move select{width:320px;}
.delete {color:red;}
.delete a{color:red !important;}

.admin-album{float:left;width:150px;height:150px;padding:10px;}
.admin-img{float:left;width:150px;margin:10px;border: 1px solid #000;}
.admin-access{margin-left:170px;}
.admin-access p{line-height:23px;font-size:14px;}
.admin-form{padding:10px;line-height:25px;vertical-align:middle;}
.name-conf{width:100%;}
.description-conf{width:100%;}

.admin-folder{padding:10px;margin:10px 0px 10px 0px;border: 1px solid rgba(255,255,255,0.25);border-radius: 3px;box-shadow: 0 0 3px #555;}
.admin-folder-parent{float:left;width:30%;word-wrap:break-word;word-break:break-all;}
.admin-folder-parent a,.admin-folder-parent .edit-admin{float:left;line-height:19px;}
.admin-folder-form{width:30%;}
.admin-folder-limit{margin:0px 0px 0px 10px;width:2em;text-align:center;}
.pager{font-style:italic;width:100px;text-align:center;margin:0px auto;}
#pager-top{float:right;width:40%;text-align:center;}
#jumpto{position:relative;}
#all-album-list{display:none;position:absolute;top:25px;left:0px;z-index:999;min-width:250px;background:#fff;padding:15px;line-height:1.5em;font-size:14px;border: 1px solid rgba(255,255,255,0.25);box-shadow: 0 0 5px #555;border-radius:3px;}
#all-album-list ul{color:#32cd32;list-style-type:circle;list-style-position:outside;padding-left:10px;}
.close{float:right !important;}

/** Page customization **/
.custom{width:100%;}
#new-widget{display:none;}

/** Site configuration **/
.config-title{text-transform:uppercase;}
.site-config p{line-height:2em;}
.site-config table{width:100%;padding:0px;}
.site-config table td{width:50%;}
.site-config table p{padding:0px 10px;}
.site-config table input{width:100%;}
.notset{color:red;}
#password-verify{border: 1px solid #000;padding:10px;margin:10px 0px;}
#password-verify input{width:200px;}

/** Login **/
#login-body{background:#2c2727;min-width:600px;}
#login{background:url(redirect.png) no-repeat center 140px transparent;}
#login-back{background:rgba(255,255,255,0.5);width:450px;margin:20px auto;padding:50px 50px;border: 1px solid rgba(0,125,255,0.25);box-shadow: 0 0 10px #007dff;border-radius:5px;}
#login-form{width:210px;margin:0px auto;padding:20px;line-height:2em;}
#reset{background:url(redirect.png) no-repeat center 50px transparent;}
#reset-form{width:210px;margin:0px auto;line-height:2em;}

/** Access **/
#access{background:url(redirect.png) no-repeat center 50px transparent;}
#access-form{width:300px;margin:0px auto;padding:20px;line-height:2em;}

/** jscrollpane **/
.jspContainer
{
  overflow: hidden;
  position: relative;
}
.jspPane
{
  position: absolute;
}
.jspVerticalBar *,
.jspHorizontalBar *
{
  margin: 0;
  padding: 0;
}
.jspCap
{
  display: none;
}
.jspHorizontalBar .jspCap
{
  float: left;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}
.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow
{
  height: 16px;
}
.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus
{
  outline: none;
}
* html .jspCorner
{
  margin: 0 -3px 0 0;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  height: 100%;
    width: 8px;
    background: transparent;
    right:2px;
}
.jspHorizontalBar {
  position: absolute;
  left: 0;
    bottom: 5px;
    width: 100%;
    height: 8px;
    background: transparent;
}
.jspTrack
{
  background: #dde;
}
.jspTrack {
    background: transparent;
  position: relative;
}
.jspDrag {
    background: url('scroller.png') repeat;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}
.jspCorner {
  display:none;
  background: #eeeef4;
  float: left;
  height: 100%;
}

/** tipTip **/
#tiptip_holder {display: none;position: absolute;top: 0;left: 0;z-index: 99999;}
#tiptip_holder.tip_top {padding-bottom: 5px;}
#tiptip_holder.tip_bottom {padding-top: 5px;}
#tiptip_holder.tip_right {padding-left: 5px;}
#tiptip_holder.tip_left {padding-right: 5px;}
#tiptip_content {font-size: 13px;color: #fff;text-shadow: 0 0 2px #000;padding: 4px 8px;border: 1px solid rgba(255,255,255,0.25);background-color: rgba(25,25,25,0.92);border-radius: 3px;box-shadow: 0 0 3px #555;word-wrap:break-word;word-break:break-all;}
#tiptip_arrow, #tiptip_arrow_inner {position: absolute;border-color: transparent;border-style: solid;border-width: 6px;height: 0;width: 0;}
#tiptip_holder.tip_top #tiptip_arrow {border-top-color: #fff;border-top-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_bottom #tiptip_arrow {border-bottom-color: #fff;border-bottom-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_right #tiptip_arrow {border-right-color: #fff;border-right-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_left #tiptip_arrow {border-left-color: #fff;border-left-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_top #tiptip_arrow_inner {margin-top: -7px;margin-left: -6px;border-top-color: rgb(25,25,25);border-top-color: rgba(25,25,25,0.92);}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {margin-top: -5px;margin-left: -6px;border-bottom-color: rgb(25,25,25);border-bottom-color: rgba(25,25,25,0.92);}
#tiptip_holder.tip_right #tiptip_arrow_inner {margin-top: -6px;margin-left: -5px;border-right-color: rgb(25,25,25);border-right-color: rgba(25,25,25,0.92);}
#tiptip_holder.tip_left #tiptip_arrow_inner {margin-top: -6px;margin-left: -7px;border-left-color: rgb(25,25,25);border-left-color: rgba(25,25,25,0.92);}

@media screen and (max-width: 1200px) {
.logo{padding:20px 20px 0px;}
.wrap{padding:0px;}
}

@media screen and (max-width: 480px) {
html,body{height:auto;}
body {width:100%;max-width:480px;min-width:360px;margin:0px auto;}

#main {padding: 0px 0px 20px 0px;background:none;width:100%}
#wrap {padding:0px;}
.logo{padding:10px;margin:0px 0px 10px 0px;}
#content {width: auto;margin:0px 0px 20px 0px;padding: 30px 10px 0px 10px;clear: both;}
#sidebar {float:none;padding:0px 10px 20px 10px;}
.content-area{height:auto;}
#sharebottom{padding:0px 10px 10px;}

#fullscreen{display:none;}
#content-img {width:98%;margin:10px auto 0px;float:none;}
#mainimg-img{display:block;}
.info-img{position:static;width:100%;opacity:1.0;border-width:1px 0px 0px;}
#info-img,#info-img-nav,#info-img:hover,#info-img-nav:hover{height:auto;opacity:1.0;}
#nav-img img{width:50px;height:50px;}
#sidebar-img {width:100%;height:auto;padding:10px 0px;float:none;position:static;overflow:visible;}
#shareimg{position:relative;padding-bottom:50px;}
}
